:root {
  --color-red: #de2b2b;
  --color-black: #2e2e2e;
  --color-white: #fff;

  --normal-font: 1.6rem;
  --large-font: 2.2rem;
  --very-large-font: 2.6rem;
  --small-font: 1.4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}
main{
    margin-top: 105px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header__logo {
  width: 25%;
  padding: 10px 0;
  /* outline: 1px solid red; */
  
}
.header__logo img {
  height: 90px;
  width: 80%;
}
.header__nav {
  width: 31%;
  /* outline: 1px solid yellow; */
  justify-content: space-between;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
}
.header__nav ul {
  display: flex;
  font-size: var(--normal-font);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* font-weight: 700; */
  width: 100%;
  justify-content: left;
  padding: 0;
  letter-spacing: 1px;
  gap: 50px;
}
.header__nav ul li {
  display: inline-block;
}
.header__nav ul li a:hover, .header__nav ul li.selected a{
  color: var(--color-red);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.header__icons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 930px){
  .header__nav{
    width: 51%;
  }
}
.header__icons i {
  font-size: var(--very-large-font);
  color: var(--color-black);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.header__icons i:hover {
  color: var(--color-red);
  cursor: pointer;
}
.nav-icon {
  display: none !important;
}
@media (max-width: 768px) {
  .nav-icon {
    display: block !important;
    color: var(--color-black);
    font-size: var(--very-large-font);
    cursor: pointer;
  }
  .nav-icon:hover {
    color: var(--color-red);
  }
  .hamburger-icon {
    width: 10%;
  }
  .hamburger-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .header__logo {
    width: 62%;
    text-align: center;
  }
  .header__nav li {
    width: 30%;
    padding: 10px 0;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #ececec;
  }
  .header__nav ul li.selected{
    border: none;
  }
  .header__nav ul {
    flex-direction: column;
    position: absolute;
    top: 120px;
  }
  .header__nav {
    position: absolute;
    z-index: 9;
    background-color: #fff;
    height: 100vh;
    width: 90%;
    top: -20px;
    left: -800px;
    transition: 0.7s;
    position: fixed;
  }
  .close-icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 50px;
  }
  .header__icons {
    width: 25%;
  }
  .header__nav ul li a:hover {
    text-decoration: none;
  }
}
.footer {
  padding: 30px 0 10px;
  background-color: #ececec;
  color: white;
  margin-top: 20px;
}
.contact-icons a {
  text-decoration: none;
  color: #fff;
}
.contact-icons a:hover i {
  background-color: var(--color-black);
}
.contact-icons a:focus i {
  background-color: var(--color-red);
}
.contact-icons {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin: 0 auto;
}
.contact-icons i {
  background-color: var(--color-red);
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
}
.footer-text {
  text-align: center;
}
.footer-text p {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: var(--color-black);
}
.footer-text p.copyright {
  padding: 10px;
}
.footer-text {
  margin: 0;
  font-size: 1.6rem;
}
#cart-modal {
  display: none;
  position: fixed;
  top: 0;
  right: -300px; 
  width: 60%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  overflow-x: hidden;
  animation: slideIn 0.5s ease-in-out;
}
@media screen and (max-width: 767px){
  #cart-modal{
    width: 95%;
  }
}
@media screen and (max-width: 375px){
  #cart-modal{
    width: 100%;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
#cart-modal img{
  cursor: pointer;
  transition: 0.2s;
}
#cart-modal img:hover{
  opacity: 0.8;
}
#cart-modal.open {
  right: 0;
  display: block; 
}
.cart-icon-container {
  position: relative;
  display: inline-block; 
}
.cart-icon-container i {
  font-size: 24px;
  cursor: pointer;
}
#cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-red); 
  color: var(--color-white);
  font-size: 12px; 
  padding: 2px 8px; 
  border-radius: 50%;
}
.modal-content{
  position: relative;
  max-height: 100vh; 
  overflow-y: auto;
  margin-bottom: 25px;
}
.modal-content button{
  background-color: var(--color-red);
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  font-weight: bold;
  font-family: inherit;
  margin: 15px auto;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.modal-content button:hover{
  background-color: var(--color-white);
  color: var(--color-red);
  border: 2px solid var(--color-red);
}
.modal-content button.clear-cart{
  margin-top: 50px;
}
.modal-content h2{
  padding-top: 50px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
span.close{
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.key-btn{
  display: none;
}
#cart-message{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
}
#cart-message p{
  font-size: 3rem;
  margin-bottom: 50px;
}
#cart-message a{
  background-color: var(--color-red);
  padding: 10px 25px;
  margin: auto;
  border-radius: 50px;
  color: var(--color-white);
  font-size: 1.6rem;
}
#cart-items-list {
  list-style: none;
  padding: 0;
  font-size: 1.8rem;
}
.small-text{
  font-size: 1.2rem;
}
#cart-items-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
#cart-items-list img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}
.cart-item-details, .cart-item-right {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}
.cart-item-details p {
  margin: 0; 
}
.cart-item-price {
  text-align: right;
  color: var(--color-red);
  font-weight: bold;
}
#cart-items-list button {
  cursor: pointer;
}
.quantity-button, .remove-button {
  font-size: 1.6rem;
  /* padding: 2px 6px; */
}
.cart-item-right{
  text-align: right;
}
.total-price {
  margin: 10px;
  text-align: center; 
  font-size: 2.5rem;
  font-weight: bold;
}
#other-items-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
#other-items-list li{
  outline: 1px solid #ccc;
  margin-bottom: 20px;
}
#other-items-list li img {
  width: 120px; 
  height: 120px; 
}
#other-items-list li button {
  background-color: var(--color-red); 
  color: white; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 0px; 
  cursor: pointer; 
  font-size: 0.9rem;
  font-weight: normal;
  width: 120px;
  margin: 0;
}

#other-items-list li p {
  font-weight: bold; 
  padding: 0 5px;
}
.other-price{
  color: var(--color-red);
}
.hide{
  display: none;
}