@import url(../css/global.css);
.occasions {
  /* margin: 35px 0 10px; */
  width: 100%;
  position: relative;
}
.occasions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 10px auto 0;
}
.occasions-container__box {
  display: flex !important;
  margin: 10px 9px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  word-wrap: break-word;
  box-sizing: border-box;
  cursor: pointer;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
.slick-prev,
.slick-next {
  font-size: 24px;
  color: var(--color-red);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.slick-prev {
  left: 3px;
}
.slick-next {
  right: 3px;
}
.box-content i {
  display: block;
}
.box-content p {
  margin: 5px 0 0 0;
}
/* .occasions-container__box:hover {
  background-color: var(--color-red);
  transform: scale(1.03);
}
.occasions-container__box:hover p {
  color: var(--color-white);
}
.occasions-container__box:hover i {
  color: var(--color-white);
} */
.occasions-container__box i {
  color: var(--color-red);
  font-size: 5.3rem;
}
.occasions-container__box p {
  color: var(--color-black);
  font-size: var(--normal-font);
  /* font-weight: 700; */
  letter-spacing: 1px;
}
.carousel {
  margin: 0;
  padding: 0;
}
.carousel .carousel-inner .carousel-item {
  position: relative;
}
.carousel-item picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.carousel-item picture img {
  height: 359px;
  width: 100%;
  object-fit: fill;
}
#carouselExample {
  overflow: hidden;
}
.carousel-indicators {
  justify-content: center;
  margin: 10px;
}
.carousel .carousel-indicators [data-bs-target] {
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  list-style: none;
}
.carousel .carousel-indicators .active {
  background-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  font-weight: bold;
  font-size: 5rem;
  color: var(--color-white);
}

.categories-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px auto;
}
.category-box {
  border-radius: 20px;
  width: 350px;
  min-width: 310px;
  height: 270px;
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
  margin: 0 auto 30px;
  cursor: pointer;
  transition: 0.7s;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
.box1 {
  animation-delay: 0.1s;
}
.box2 {
  animation-delay: 0.2s;
}
.box3 {
  animation-delay: 0.3s;
}
.box4 {
  animation-delay: 0.4s;
}
.box5 {
  animation-delay: 0.5s;
}
.box6 {
  animation-delay: 0.6s;
}
.box7 {
  animation-delay: 0.7s;
}
.box8 {
  animation-delay: 0.8s;
}
.box9 {
  animation-delay: 0.9s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.box1 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/per.jpg");
}
.box2 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/male.jpeg");
}
.box3 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/female.png");
}
.box4 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/children.avif");
}
.box5 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/cooperate.avif");
}
.box6 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/festive.avif");
}
.box7 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/couple.avif");
}
.box8 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/naughty.webp");
}
.box9 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url("../img/souvenir.webp");
}
.category-box .title {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
  /* animation: bouncing-text 7s linear infinite; */
  text-align: center;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  padding-top: 5px;
  width: 100%;
}
.title-container{
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  text-align: left;
  overflow: hidden;
}
.shop-now{
  position: absolute;
  bottom: 0;
  margin: auto;
  background-color: var(--color-red);
  width: 100%;
  color: var(--color-white);
  padding: 10px;
  border-radius: 0 0 20px 20px;
  font-size: 1.6rem;
}
/* @keyframes bouncing-text {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */
.category-box:hover {
  opacity: 0.8 !important;
}
.banner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner-container img {
  max-width: 100%;
  height: auto;
  width: 48%;
  margin-bottom: 1%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .banner-container img {
    width: 90%;
    margin-bottom: 2%;
    flex-direction: column;
  }
}
.advert-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/advert-bkg2.avif);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .advert-container {
    flex-direction: column;
  }
}
.advert-point {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 30px;
}
.advert-point p {
  font-size: 1.6rem;
  letter-spacing: 2px;
}
.advert-point i {
  font-size: 5rem;
  margin-bottom: 10px;
}
